.App {
  margin: 20px 30px;
  display: flex;
  flex-direction: column;
}

.App .WeatherTableContainer{
  min-height: 35vh
}

.App .ReloadButton{
  margin: 0 auto;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #24a0ed;
  color: #fff;
}
